.tituloMenu1{
    font-size: 400%;
    color: rgb(135, 42, 42);
    text-align: center;
    align-items: center;
    font-style: initial;
}

.titulo2Menu1{
    font-size: 200%;
    color: rgb(135, 42, 42);
    font-style: initial;
}

.letraMenu1{
    color: rgb(135, 42, 42);
    font-style: initial;
}
#letraMenu1{
    color: rgb(135, 42, 42);
    font-style: initial;
}
