.ribbon {
    background-color: rgba(252, 207, 219, 0.868);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255, 255, 255, 0.5) 25px, rgba(255, 255, 255, 0.5) 40px);
    text-align: center;
    font-size:large;
    font-weight: 700;
    color: rgba(105, 86, 86, 0.666);
  
}

.imagenLB {
    max-width: 200px;
    align-items: center;
}

.fin{
    background-color: rgb(236, 135, 149);
    color: rgb(248, 223, 190);
    text-align: center;
    font-size: larger;

}